<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Where is</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/template/css/modals.less" />
	</head>

	<body>
              <div class="contanier">
                   <table class="table table-striped table-hover table-responsive">
                           <caption style="text-align:center; font-weight:bold" >
                                 <strong> 职位表</strong>
                           </caption>
                            <thead>
                                   <tr class="success">
                                        <th>单位</th>
                                        <th>职位代码</th>
                                        <th>招录人数</th>
                                        <th>专业要求</th>
                                        <th>学历要求</th>
                                        <th>备注</th>
                                   </tr>
                           </thead>
                           <tbody>
                                   {{range .}}
                                   <tr>
                                      <td>{{.Job_name}}</td>
                                      <td>{{.Job_code}}</td>
                                      <td>{{.Job_nums}}</td>
                                      <td>{{.Major}}</td>
                                      <td>{{.Education}}</td>
                                      <td>{{.Others}}</td>
                                   </tr>
                                   {{end}}
                           </tbody>
                    </table>
               </div>
		
	</body>
	<script type="text/javascript" src="/js/jquery341.js"></script>
	<script type="text/javascript" src="/js/base.js"></script>
	<!--<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.js"></script>-->
	<!--升级使用外部资源，节约个人网站带宽-->
	<script src="/bootstrap/js/bootstrap.min.js" ></script>
</html>
